#http://bochs.sourceforge.net/doc/docbook/user/internal-debugger.html
#c                           continue executing
#s     [count]               step, execute count instructions, default is 1
#s     [cpu] [count]         for SMP simulation, execute count instructions on cpu, default is 1
#s     all [count]           for SMP simulation, execute count instructions on all cpus
#
#vb     seg:off             vbreak, Set a virtual address instruction breakpoint
#lb     addr                lbreak, Set a linear address instruction breakpoint
#pb                         pbreak, Set a physical address instruction breakpoint
#break  [*] addr
#b      [*] addr

b 0x07e0:0x001a
#c
